/* Apply a background image to the entire body of the document. */
body {
  background-image: url("./concrete.jpg") !important; /* The image used as a background. */
  background-repeat: no-repeat; /* The background image will not repeat. */
  background-attachment: fixed; /* The background image will not scroll with the page. */
  background-size: cover; /* The background image will cover the entire area of the element. */
}

/* Styling for the introduction text of the application. */
.intro {
  text-align: center; /* The text is centered. */
  color: yellowgreen; /* The color of the text. */
  font-size: 24px; /* The size of the text. */

  padding: 1.2em 1.2em 0.8em 1.2em;
  background-color: rgba(245, 245, 245, 0.445);
}

/* Styling for the container that holds the player cards. */
.App {
  /* The player cards are displayed using flexbox. */
  /* The player cards will wrap onto the next line if there is not enough space. */
  /* The player cards are centered on the line. */
  padding-top: 2em;
}

.players {
  background-color: rgba(255, 105, 180, 0.699);
  display: flex;
  /*justify-content: center;*/
  flex-direction: row;
  padding: 1em;
  box-shadow: 0em 1em 2em yellowgreen;
}
/* Styling for individual player cards. */
.player-card {
  width: 20%; /* The width of the card. */
  margin: 1em; /* The margin around the card. */
  /* The background color of the card. */
  /* The border around the card. */
  /* The radius of the card's corners. */
  /* The shadow effect around the card. */
  overflow: hidden; /* Any content that goes outside the card will be hidden. */
  position: relative; /* The card's position is set to relative so it can be moved using the transform property. */
  transition: transform 0.3s; /* Transition effect for the transform property. */
  background-color: yellowgreen;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  border: whitesmoke 2px solid;
}

/* Styling for when a user hovers over a player card. */
.player-card:hover {
  /* The card moves up 5 pixels when hovered over. */
  margin-top: 5px;
}

/* Styling for the player's image. */
.player-image {
  /*  width: 250px; The width of the image. */
  /* height: 250px;  The height of the image. */
  /* The image will cover the entire area of its container without distorting its aspect ratio. */
  /* The image is displayed using CSS Grid. */
  /* The margin to the left of the image. */
  width: 50%;
  border: whitesmoke 2px solid;
}

/* Styling for the player's details (name, breed, status). */
.player-details {
  flex-direction: column; /* The details are arranged in a column. */
  align-items: center; /* The details are centered along the vertical axis. */
  justify-content: center; /* The details are centered along the horizontal axis. */
  color: #000; /* The color of the details text. */
  font-size: 16px; /* The size of the details text. */
  text-align: center; /* The details text is centered. */
}

.nameSh {
  text-shadow: 0.1em 0.08em 0.06em hotpink;
}
